/* Estilo global */
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(135deg, #007bff, #FFD621); /* Fundo azul e amarelo */
  font-family: 'Roboto', sans-serif;
  color: #333;
  min-height: 100vh;
}

/* Ajuste para o container principal */
.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Alinha verticalmente ao topo */
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

/* Estilo para o header */
header {
  display: flex;
  flex-direction: row; /* Alinha logo e título horizontalmente */
  align-items: center; /* Centraliza verticalmente os itens */
  justify-content: center; /* Alinha os itens à esquerda */
  width: 100%;
  padding: 16px;
}

header img.banko-logo {
  width: 75px;
  height: auto;
  margin-left: -100px;
  margin-right: 16px; /* Espaço entre o logo e o título */
}

header h1 {
  font-size: 24px;
  color: #333;
  text-align: left; /* Alinha o texto à esquerda */
}

/* Estilo para o formulário */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  width: 400px;
  margin-left: -10px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left; /* Alinha o texto à esquerda */
}

.form-label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.form-input {
  margin-top: 8px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid hsl(184, 87%, 48%);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #007bff;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -8px;
  text-align: left; /* Alinha o texto à esquerda */
}

/* Estilo para o footer */
footer {
  margin-top: auto;
  text-align: center;
  font-size: 14px;
  color: #333;
}

